.btn-main {
    background: linear-gradient(90deg, #6366f1, #8b5cf6);
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn-main:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #6366f1;
}
input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #6366f1;
}
img {
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}